.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 3em;
  color: #3e2450;
}

.text {
  width: 50%;
  line-height: 1.5em;
  color: #949494;
}

@media screen and (max-width: 600px) {
  .box {
    align-items: center;
  }
}
